<ion-content [fullscreen]="true">
  <div id="container">
    <div style="width: 100%;">
      <img alt="" src="../../assets/logo.png" style="height: 60px; margin-bottom: 0px;"/>
    </div>
    
    <img alt="" src="../../assets/scanHand.png" />
    <div style="width: 100%;">
      <ion-button  shape="round" (click)="scan()"><ion-icon name="qr-code-outline"  ></ion-icon></ion-button>
    </div>
    <h4 style="font-weight: bold;margin-bottom: 0px;">Registrese como conductor</h4>
    <h5>ID unico: {{UniqueDeviceID}}</h5>
    <h5 style="font-weight: bold; font-size: 11px;" *ngIf="lastSync != ''">{{lastSync}}</h5>
  </div>


  <ion-modal #modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Seleccione</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let item of companies">
            <ion-label (click) = "setCompany(item)">{{item?.name}}</ion-label> 
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
